* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    min-height: 200vh;
}

.square {
    width: 100px;
    height: 100px;
    background: red;
    border: 5px solid blue;
}

.square-1 {
    position: relative;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: red;
}

.square-2 {
    /* относительно родителя */
    position: absolute;
    background: green;
    right: 0;
    bottom: 0;
}

.square-3 {
    /* относительно вьюпорта */
    position: fixed;
    background: purple;
    bottom: 0;
    left: 0;
}

.square-4 {
    position: sticky;
    top: 10px;
    background: orange;
}